<!-- <li *ngFor= "let list of lists">
  {{ list.Tasks[1][0][0]}}
</li> -->

<!-- <p *ngIf= "ready">
  <tr *ngFor="let list of listsFiltered">
      {{list.Tasks[0].taskName}}
      <div>
          Block Order
           
    <li *ngFor="let task of list.Tasks[1]">
      <span [style.background-color]="task.colour">
        {{task.UniqID}}
      </span>
      
    </li>
      </div> 
  </tr>

</p> -->

<div class='child'>
  <span cdkDropListGroup>
      <div class="example-container">
        <h2>Scheduled Tasks</h2>
    
        <div *ngFor="let list of listsFiltered"
          cdkDropList
          [cdkDropListData]="list.Tasks[1]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <h4>{{list.Tasks[0].taskName}}</h4>
          <div class="example-box" *ngFor="let list of list.Tasks[1]" cdkDrag> 
              <span [style.background-color]="list.colour">
                  {{list.UniqID}}
              </span>
          </div>
        
          
        </div>
      </div>
    
    </span>

</div>
